[submodule "WhatWaf"]
	path = WhatWaf
	url = https://github.com/Ekultek/WhatWaf
[submodule "sqlmap"]
	path = sqlmap
	url = https://github.com/sqlmapproject/sqlmap
[submodule "googler"]
	path = googler
	url = https://github.com/jarun/googler
[submodule "ddgr"]
	path = ddgr
	url = https://github.com/jarun/ddgr
